* {
  margin: 0;
}

body {
  overflow-x: hidden;
  background-color: #f5f6fa;
}

.app {
  display: flex;
  justify-content: space-evenly;
}

.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.app-stats {
  display: flex;
  justify-content: space-between;
}
