* {
  margin: 0;
}

body {
  overflow-x: hidden;
  background-color: #f5f6fa;
}

.app {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

.app-dropdown {
  background-color: white;
}

.app-right {
  display: flex;
  flex-direction: column;
}

.app-right .MuiCardContent-root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.app-graph {
  flex-grow: 1;
}

.app-left {
  flex: 0.9;
}

.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.app-stats {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 990px) {
  .app {
    flex-direction: column;
  }
}
