.infobox {
  flex: 1;
  cursor: pointer;
}

.infobox:not(:last-child) {
  margin-right: 15px;
}

.infobox--selected {
  border-top: 10px solid greenyellow;
}

.infobox-cases-green {
  color: lightgreen !important;
}

.infobox--red {
  border-color: red;
}

.infobox-cases {
  color: #cc1034;
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 0.5rem;
}

.infobox-total {
  color: #6c757d;
  font-weight: 700 !important;
  font-size: 0.8rem !important;
  margin-top: 10px !important;
}

@media (max-width: 480px) {
  .infobox h2 {
    font-size: 1.2rem;
    font-weight: bold;
  }

  .infobox-title {
    text-align: center;
  }
}

@media (max-width: 400px) {
  .infobox:not(:last-child) {
    margin-right: 10px;
  }
}
